In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("london0_23_weather_data.csv")
data.head()

   tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0   7.3   3.1   9.0   1.8   NaN    NaN   2.3   NaN  1024.5   NaN
1   9.5   8.0  11.0   NaN   NaN  225.0  11.6   NaN  1025.2   NaN
2   9.4   5.6  11.2   2.0   NaN  233.0  16.8   NaN  1018.5   NaN
3   5.7   2.8   9.5   3.8   NaN    NaN   NaN   NaN  1014.8   NaN
4   7.1   1.9   NaN   NaN   NaN    NaN   NaN   NaN     NaN   NaN

In [3]:
start_date = '2000-01-01'
end_date = '2023-01-01'

data['date'] = pd.date_range(start=start_date, end=end_date, freq='D')

data.head()

   tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun       date
0   7.3   3.1   9.0   1.8   NaN    NaN   2.3   NaN  1024.5   NaN 2000-01-01
1   9.5   8.0  11.0   NaN   NaN  225.0  11.6   NaN  1025.2   NaN 2000-01-02
2   9.4   5.6  11.2   2.0   NaN  233.0  16.8   NaN  1018.5   NaN 2000-01-03
3   5.7   2.8   9.5   3.8   NaN    NaN   NaN   NaN  1014.8   NaN 2000-01-04
4   7.1   1.9   NaN   NaN   NaN    NaN   NaN   NaN     NaN   NaN 2000-01-05

In [4]:
tmin_data = data[['date', 'tmin']]
tmin_data.head()

        date  tmin
0 2000-01-01   3.1
1 2000-01-02   8.0
2 2000-01-03   5.6
3 2000-01-04   2.8
4 2000-01-05   1.9

In [5]:
tmax_data = data[['date', 'tmax']]
tmax_data.head()

        date  tmax
0 2000-01-01   9.0
1 2000-01-02  11.0
2 2000-01-03  11.2
3 2000-01-04   9.5
4 2000-01-05   NaN

In [6]:
start_index = data[data['date'] == '2010-01-01'].index[0]
end_index = data[data['date'] == '2022-12-31'].index[0]

tmin_train = tmin_data[start_index:end_index]
missing_val = (tmin_train).isnull().sum()
print('Missing values:')
print(missing_val, '\n')

Missing values:
date     0
tmin    14
dtype: int64

In [7]:
tmin_train_clean = tmin_train.dropna()
tmin_train_clean.info()
tmin_train_clean.to_csv('tmin_train.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 4733 entries, 3653 to 8399
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4733 non-null   datetime64[ns]
 1   tmin    4733 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 110.9 KB

In [8]:
tmax_train = tmax_data[start_index:end_index]
missing_val = (tmax_train).isnull().sum()
print('Missing values:')
print(missing_val, '\n')

tmax_train.to_csv('tmax_train.csv')

Missing values:
date     0
tmax    10
dtype: int64

In [9]:
start_index = data[data['date'] == '2022-03-15'].index[0]
end_index = data[data['date'] == '2022-12-31'].index[0]

tmin_test = tmin_data[start_index:end_index]

missing_val = (tmin_test).isnull().sum()
print('Missing values:')
print(missing_val, '\n')

Missing values:
date    0
tmin    1
dtype: int64

In [10]:
tmin_test_clean = tmin_test.dropna()
tmin_test_clean.info()
tmin_test_clean.to_csv('tmin_test.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 290 entries, 8109 to 8399
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    290 non-null    datetime64[ns]
 1   tmin    290 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.8 KB

In [11]:
tmax_test = tmax_data[start_index:end_index]

missing_val = (tmax_test).isnull().sum()
print('Missing values:')
print(missing_val, '\n')

tmax_test.to_csv('tmax_test.csv')

Missing values:
date    0
tmax    0
dtype: int64